# Node modules
node_modules/

# Base de données
backend/database.json
backend/database.json.backup
backend/public/batch-results.json
# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.local

# Build files
dist/
build/
